In [1]:
print("hello world")

hello world

In [2]:
import pydap
from pydap.client import open_url
dataset = open_url('http://test.opendap.org/dap/data/nc/coads_climatology.nc')
type(dataset)

pydap.model.DatasetType

In [3]:
list(dataset.keys())

['COADSX', 'COADSY', 'TIME', 'SST', 'AIRT', 'UWND', 'VWND']

In [4]:
sst = dataset['SST']  # or dataset.SST
type(sst)

pydap.model.GridType

In [5]:
dataset = open_url('https://thredds.sccoos.org/thredds/dodsC/autoss/santa_monica_pier-2013.nc')

In [6]:
type(dataset)

pydap.model.DatasetType

In [7]:
list(dataset.keys())

['time',
 'temperature',
 'conductivity',
 'pressure',
 'salinity',
 'chlorophyll_raw',
 'chlorophyll',
 'temperature_flagPrimary',
 'temperature_flagSecondary',
 'conductivity_flagPrimary',
 'conductivity_flagSecondary',
 'pressure_flagPrimary',
 'pressure_flagSecondary',
 'salinity_flagPrimary',
 'salinity_flagSecondary',
 'chlorophyll_flagPrimary',
 'chlorophyll_flagSecondary',
 'sigmat',
 'diagnosticVoltage',
 'currentDraw',
 'aux1',
 'aux3',
 'aux4',
 'instrument1',
 'instrument2',
 'platform1',
 'station',
 'lat',
 'lon',
 'depth',
 'crs']

In [8]:
var = dataset['time']

In [9]:
var.shape

(98550,)

In [10]:
var.dtype

dtype('>i4')

In [11]:
mytime = dataset.time

In [12]:
count = 0
for entry in mytime:
    print(mytime[count])
    count +=1
    if count > 10:
        break

<BaseType with data array([1358986620], dtype=int32)>
<BaseType with data array([1358986860], dtype=int32)>
<BaseType with data array([1358987100], dtype=int32)>
<BaseType with data array([1358987340], dtype=int32)>
<BaseType with data array([1358987580], dtype=int32)>
<BaseType with data array([1358987820], dtype=int32)>
<BaseType with data array([1358988060], dtype=int32)>
<BaseType with data array([1358988300], dtype=int32)>
<BaseType with data array([1358988540], dtype=int32)>
<BaseType with data array([1358988780], dtype=int32)>
<BaseType with data array([1358989020], dtype=int32)>

In [20]:
grid = mytime[0:10]
grid

<BaseType with data array([1358986620, 1358986860, 1358987100, 1358987340, 1358987580,
       1358987820, 1358988060, 1358988300, 1358988540, 1358988780],
      dtype=int32)>

In [17]:
grid.attributes

{'comment': 'also known as Epoch or Unix time',
 'platform': 'platform1',
 'long_name': 'time',
 'standard_name': 'time',
 'units': 'seconds since 1970-01-01 00:00:00 UTC',
 'calendar': 'julian',
 'axis': 'T',
 '_ChunkSizes': 1024}

In [19]:
var = dataset['time','salinity']
grid = var.time[0:10]
grid

<BaseType with data array([1358986620, 1358986860, 1358987100, 1358987340, 1358987580,
       1358987820, 1358988060, 1358988300, 1358988540, 1358988780],
      dtype=int32)>

In [28]:
type(var)

pydap.model.DatasetType

In [22]:
type(var.time)

pydap.model.BaseType

In [53]:
print(var.time.shape)
print(len(var.time))
print(grid[0].name)
print(grid[0].attributes)

(98550,)
98550
time
{'comment': 'also known as Epoch or Unix time', 'platform': 'platform1', 'long_name': 'time', 'standard_name': 'time', 'units': 'seconds since 1970-01-01 00:00:00 UTC', 'calendar': 'julian', 'axis': 'T', '_ChunkSizes': 1024}

In [54]:
print(grid.data)
print(type(grid.data))

[1358986620 1358986860 1358987100 1358987340 1358987580 1358987820
 1358988060 1358988300 1358988540 1358988780]
<class 'numpy.ndarray'>

In [103]:
fields = list(dataset.keys())
print(len(fields))
print(fields)
    #exclude string fields instrument1 (etc) they prevent loop from working
fields.remove('instrument1')
fields.remove('instrument2')
fields.remove('platform1')
fields.remove('station')
print(len(fields))
print(fields)
    #exclude single-entry items, they also prevent loop from working
fields.remove('lat')
fields.remove('lon')
fields.remove('depth')
fields.remove('crs')
print(len(fields))
print(fields)

31
['time', 'temperature', 'conductivity', 'pressure', 'salinity', 'chlorophyll_raw', 'chlorophyll', 'temperature_flagPrimary', 'temperature_flagSecondary', 'conductivity_flagPrimary', 'conductivity_flagSecondary', 'pressure_flagPrimary', 'pressure_flagSecondary', 'salinity_flagPrimary', 'salinity_flagSecondary', 'chlorophyll_flagPrimary', 'chlorophyll_flagSecondary', 'sigmat', 'diagnosticVoltage', 'currentDraw', 'aux1', 'aux3', 'aux4', 'instrument1', 'instrument2', 'platform1', 'station', 'lat', 'lon', 'depth', 'crs']
27
['time', 'temperature', 'conductivity', 'pressure', 'salinity', 'chlorophyll_raw', 'chlorophyll', 'temperature_flagPrimary', 'temperature_flagSecondary', 'conductivity_flagPrimary', 'conductivity_flagSecondary', 'pressure_flagPrimary', 'pressure_flagSecondary', 'salinity_flagPrimary', 'salinity_flagSecondary', 'chlorophyll_flagPrimary', 'chlorophyll_flagSecondary', 'sigmat', 'diagnosticVoltage', 'currentDraw', 'aux1', 'aux3', 'aux4', 'lat', 'lon', 'depth', 'crs']
23
['time', 'temperature', 'conductivity', 'pressure', 'salinity', 'chlorophyll_raw', 'chlorophyll', 'temperature_flagPrimary', 'temperature_flagSecondary', 'conductivity_flagPrimary', 'conductivity_flagSecondary', 'pressure_flagPrimary', 'pressure_flagSecondary', 'salinity_flagPrimary', 'salinity_flagSecondary', 'chlorophyll_flagPrimary', 'chlorophyll_flagSecondary', 'sigmat', 'diagnosticVoltage', 'currentDraw', 'aux1', 'aux3', 'aux4']

In [105]:
for entry in fields:
    measurement = dataset[entry][0:15]
    print(entry, measurement, type(measurement.dtype))
#    for item in measurement:
#        print(item)

time <BaseType with data array([1358986620, 1358986860, 1358987100, 1358987340, 1358987580,
       1358987820, 1358988060, 1358988300, 1358988540, 1358988780,
       1358989020, 1358989260, 1358989500, 1358989740, 1358989980],
      dtype=int32)> <class 'numpy.dtype[intc]'>
temperature <BaseType with data array([13.084 , 13.085 , 13.0868, 13.0825, 13.081 , 13.0785, 13.0797,
       13.0821, 13.0786, 13.0768, 13.0747, 13.0733, 13.073 , 13.0739,
       13.0743], dtype=float32)> <class 'numpy.dtype[float32]'>
conductivity <BaseType with data array([3.87131, 3.87138, 3.87154, 3.87116, 3.87106, 3.87084, 3.87091,
       3.87114, 3.87083, 3.87069, 3.87048, 3.87038, 3.87033, 3.87041,
       3.87047], dtype=float32)> <class 'numpy.dtype[float32]'>
pressure <BaseType with data array([2.377, 2.35 , 2.38 , 2.391, 2.404, 2.411, 2.461, 2.524, 2.472,
       2.524, 2.531, 2.567, 2.565, 2.595, 2.596], dtype=float32)> <class 'numpy.dtype[float32]'>
salinity <BaseType with data array([32.7869, 32.7867, 32.7867, 32.7868, 32.7872, 32.7872, 32.7869,
       32.787 , 32.787 , 32.7872, 32.7871, 32.7873, 32.7871, 32.787 ,
       32.7873], dtype=float32)> <class 'numpy.dtype[float32]'>
chlorophyll_raw <BaseType with data array([0.0323, 0.0318, 0.0326, 0.0326, 0.0324, 0.0328, 0.0324, 0.032 ,
       0.0325, 0.0325, 0.0323, 0.0322, 0.0324, 0.0317, 0.0318],
      dtype=float32)> <class 'numpy.dtype[float32]'>
chlorophyll <BaseType with data array([0.323, 0.318, 0.326, 0.326, 0.324, 0.328, 0.324, 0.32 , 0.325,
       0.325, 0.323, 0.322, 0.324, 0.317, 0.318], dtype=float32)> <class 'numpy.dtype[float32]'>
temperature_flagPrimary <BaseType with data array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)> <class 'numpy.dtype[uint8]'>
temperature_flagSecondary <BaseType with data array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)> <class 'numpy.dtype[uint8]'>
conductivity_flagPrimary <BaseType with data array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)> <class 'numpy.dtype[uint8]'>
conductivity_flagSecondary <BaseType with data array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)> <class 'numpy.dtype[uint8]'>
pressure_flagPrimary <BaseType with data array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)> <class 'numpy.dtype[uint8]'>
pressure_flagSecondary <BaseType with data array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)> <class 'numpy.dtype[uint8]'>
salinity_flagPrimary <BaseType with data array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)> <class 'numpy.dtype[uint8]'>
salinity_flagSecondary <BaseType with data array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)> <class 'numpy.dtype[uint8]'>
chlorophyll_flagPrimary <BaseType with data array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=uint8)> <class 'numpy.dtype[uint8]'>
chlorophyll_flagSecondary <BaseType with data array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=uint8)> <class 'numpy.dtype[uint8]'>
sigmat <BaseType with data array([24.6624, 24.662 , 24.6616, 24.6626, 24.6631, 24.6637, 24.6631,
       24.6627, 24.6635, 24.6639, 24.6643, 24.6647, 24.6647, 24.6644,
       24.6646], dtype=float32)> <class 'numpy.dtype[float32]'>
diagnosticVoltage <BaseType with data array([13. , 13. , 13. , 13. , 13. , 13. , 13. , 13. , 13. , 12.9, 13. ,
       13. , 13. , 13. , 13. ], dtype=float32)> <class 'numpy.dtype[float32]'>
currentDraw <BaseType with data array([127.1, 130.7, 129.8, 133.9, 124.8, 131.5, 132.2, 131.2, 132. ,
       140.2, 131.2, 129. , 134.4, 131.3, 135.1], dtype=float32)> <class 'numpy.dtype[float32]'>
aux1 <BaseType with data array([0.0003, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003,
       0.0003, 0.0002, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003],
      dtype=float32)> <class 'numpy.dtype[float32]'>
aux3 <BaseType with data array([0.0003, 0.0002, 0.0002, 0.0002, 0.0002, 0.0003, 0.0002, 0.0002,
       0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002, 0.0002],
      dtype=float32)> <class 'numpy.dtype[float32]'>
aux4 <BaseType with data array([0.0003, 0.0002, 0.0003, 0.0003, 0.0003, 0.0003, 0.0002, 0.0002,
       0.0003, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003, 0.0003],
      dtype=float32)> <class 'numpy.dtype[float32]'>